body{
  background-color: #131313;
  color: white;
  font-family: Poly Sans,Helvetica,Arial,sans-serif;
}
.card{
  background-color: inherit;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.modal{
  color: black;
}